.editor{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 

    margin: 30px;
}
.editor > *{
    margin: 15px;
}
.drawing-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.drawing-panel > *{
    margin: 15px
}
.options{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.options > *{
    margin: 15px; 
}
.options-header{
    font-size: 65px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.options-inputbox{
    display: flex; 
    justify-content: space-evenly;
    font-size: 25px;
}
.options-input input{
    width: 50px; 
    height: 50px; 
    font-size: 25px;
}
.options-input > *{
    margin: 10px; 
}
.button{
    height: 70px;
    font-size: 25px; 
    text-transform: uppercase;
    border-radius: 5px;
    border:none;
    letter-spacing: 1.5px;
    font-weight: 900;
    transition: all 0.4s ease-in-out;
    padding: 10px;
}
.button:hover{
    background-color: black;
}
.pixel{
    margin: 0px;
    transition: all 0.1s ease-in-out;
}
.row{
    display: flex; 
    justify-content: center;
    align-items: center;

}
.text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px; 
    font-weight: 600;
    text-align: center;
}
#canvasName{
    text-align: center;
    margin:0px;
    border-radius: 5px;
    border-style: none;
    font-size: 25px;
    font-weight: 900;
    padding: 10px;
    height: 40px;
    width: 300px;
    transition: all 0.7s ease-in-out;
}
#canvasName::placeholder{
    color: aliceblue;   
}
#canvasName:focus::placeholder{
    color: black;   
}
#canvasName:focus{
    height: 45px;
    width: 350px;
    color: black;
    background-color: aliceblue;
}
#canvasBox{
    display: flex; 
    justify-content:center;
    align-items: center;
    height: 150px;
}
#canvasBox > *{
    margin: 10px;
}
#quickActions{
    display:flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 45px;
}
#quickActions > *{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    border: 3px solid whitesmoke;
    transition: all 0.2s ease-in-out;
}
#quickActions > *:hover{
    width: 40px;
    height: 40px;    
}
#black{
    background-color: black;
}
#white{
    background-color: white;
}
#transparent{
    background-color: whitesmoke;
}
